
@{
    ViewBag.Title = "GetEmployee";
}

<h2>Employee Details</h2>

<table class="table table-bordered tabele-hover">
    <tr class="btn-primary">
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Address</th>
        <th>Date Of Joining</th>
        <th>Martial Status</th>
        <th>Is Eligible For Loan</th>
        <th>Salary</th>
        <th>Created By</th>
        <th>Created Date</th>
    </tr>
    <tr>
        <td>@ViewBag.Employee.EmployeeID</td>
        <td>@ViewBag.Employee.EmployeeName</td>
        <td>@ViewBag.Employee.Address</td>
        <td>@ViewBag.Employee.DateOfJoining</td>
        <td>
        @if(ViewBag.Employee.MartialStatus == 1)
        {
            <p>Married</p>
        }
        else
        {
            <p>Single</p>
        }
        </td>
        <td>@ViewBag.Employee.IsEligibleForLoan</td>
        <td>@ViewBag.Employee.Salary</td>
        <td>@ViewBag.Employee.CreatedBy</td>
        <td>@ViewBag.Employee.CreatedDate</td>
    </tr>
</table>